.asliFooter{
    display: flex;
    justify-content: center;
    background: #42484a;
}

.asliFooter p{
  letter-spacing: 1px;
}


.myFooter{
    font-family: 'Raleway', sans-serif;
    text-align: center;
    padding: 30px 25px 0px 25px;
    margin: 0px;
    color: white;
}
.icons-thomso, .icons-thomso:visited{
  color: white;
}
.icons-thomso:hover, .icons-thomso:active, .icons-thomso:focus {
	color: #7e7e7e !important;
}
