.middleBack{
    margin: 0px;
    padding: 50px;
    /*background-image: url('../img/back1.jpg');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;*/
    background-color: #bddbd2;
}

/* Left */
.left{
    /*background:url('../img/l1.png');*/
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center right;
    background-size: cover;
    display: flex;
    flex-direction: column;
    padding: 0px 0px 0px 0px;
    height:100vh;
    justify-content: space-around;
    align-items: center;
}
.leftImgC{
    text-align: center;
    display: flex;
    background-color: rgba(10, 140, 90, 0.8);
    align-items: center;
    justify-content: space-around;
    height:24vh;
    width: 75%;
    border-radius: 5px;
}
.leftImage{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    /*background-image: url('../img/test1.jpg');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;*/
    border-radius: 15px;
    height: 80%;
    width: 92%;
    /*border: white solid 1px;*/
}
.events{
  opacity:1 !important;
  color:white;
  font-size: 2em;
}

.myButt {
    color: #ffffff;
    background-color: rgba(39, 113, 85, 0.78);
    border-color: #277155;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 15px;
    font-size: 20px;
    padding: 20px 20px;
    transition: 0.3s ease-out;
    width: 200px;
}
.myButt:hover, .myButt:focus, .myButt:active, .myButt.active, .open .dropdown-toggle.myButt {
    color: rgba(39, 113, 85, 0.78);
    background-color: #ffffff;
    border-color: #277155;
}


/* Middle */
.middle{
    /*background-image:url('../img/l2.png');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
    background-color: ;*/
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    justify-content: space-around;
    padding: 0px 0px 0px 0px;
}
.middleContent{
    display: flex;
    padding: 25px;
    height:91vh;
    width: 95%;
    background-color: rgba(10, 140, 90, 0.8);
    border-radius: 5px;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.regiHead{
  font-size: 3em;
  text-align: center;
  color: white;
  font-family: 'Open Sans', sans-serif;
}
.regiCont{
  font-size: 1.5em;
  text-align: justify;
  color: white;
}

.rowButton{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.myButton{
    color: #ffffff;
    background-color: rgba(39, 113, 85, 0.78);
    border-color: #277155;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 3px;
    font-size: 18px;
    padding: 20px 40px;
    transition: 0.3s ease-out;
    width: 250px;
    margin-bottom: 15px;
}
.myButton:hover, .myButton:focus, .myButton:active, .myButton.active, .open .dropdown-toggle.myButton {
    color: rgba(39, 113, 85, 0.78);
    background-color: #ffffff;
    border-color: #277155;
}

.myButtRules{
    color: #ffffff;
    background-color: rgba(39, 113, 85, 0.78);
    border-color: #277155;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 3px;
    font-size: 18px;
    padding: 20px 20px;
    transition: 0.3s ease-out;
    width: 250px;
    margin-bottom: 15px;
}
.myButtRules:hover, .myButtRules:focus, .myButtRules:active, .myButtRules.active, .open .dropdown-toggle.myButtRules {
    color: rgba(39, 113, 85, 0.78);
    background-color: #ffffff;
    border-color: #277155;
}

.gayab{
  display: none;
}